{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('auth.edit_profile') }}" method="post" enctype="multipart/form-data">
        <div>
            <label for="username">用户名</label>
            <input type="text" name="username" value={{ current_user.username }}>
        </div>
        <div>
            <label for="email">邮箱</label>
            <input type="text" name="email" value= {{ current_user.email }}>
        </div>
        <div>
            <label for="avatar">头像</label>
            <input type="file" name="avatar" }}>
        </div>
        <button type="submit">保存</button>
    </form>
{% endblock %}