{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block content %}
    <h1>文章</h1>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('post.create_post') }}">发布</a>
    {% endif %}
    <ul>
        {% for post in posts %}
        <li>
            <a href="{{ url_for('post.post_detail', post_id=post.id) }}">{{ post.title }}</a>
            <p>{{ post.content }}</p>
            <small>{{ post.author.username }} {{ post.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
