{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div>
            <img src="{{ url_for('static', filename=current_user.avatar) }}" alt="头像" class="avatar">
            {{ current_user.username }}
        </div>
    {% endif %}

    <div>
        <p>帖子</p>
    </div>
    <small>共{{ len }}篇</small>
    <ul>
        {% for post in posts %}
        <li class="article">
            <a href="{{ url_for('post.post_detail', post_id=post.id) }}">{{ post.title }}</a>
            <p class=>{{ post.content }}</p>
            <small>{{ post.author.username }} {{ post.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
        </li>
        {% endfor %}
    </ul>

    <div>
        {% if posts.has_prev %}
            <a href="{{ url_for('post.index', page=posts.prev_num) }}">上一页</a>
        {% endif %}
    </div>

    {% for page in posts.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
        {% if page %}
            {% if page== posts.page %}
                <a href="{{ url_for('post.index', page=page) }}">{{ page }}</a>
            {% else %}
                <a href="{{ url_for('post.index', page=page) }}">{{ page }}</a>
            {% endif %}
        {% else %}
            <span>...</span>
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <a href="{{ url_for('post.index', page=posts.next_num) }}">下一页</a>
    {% endif %}
    <div>
    {% if current_user.is_authenticated %}
        <div style="float: right">
            <a href="{{ url_for('post.create_post') }}" class="ahref">发布</a>
        </div>
    {% endif %}
    </div>
    <div>
        共{{ al_page }}页
    </div>
{% endblock %}
