{% extends 'base.html' %}

{% block content %}
    <!-- templates/notifications.html -->
<h1>你的通知</h1>
    <ul>
        {% for notification in notifications %}
            <li class="comment">
                {% if notification.is_read %}
                    <div>
                        <a href="{{ url_for('notifications.view_notification', notification_id=notification.id) }}">
                            {{ notification.post.title }}
                        </a>
                    </div>
                    <div>
                        {{ notification.comment.content }}
                    </div>
                {% else %}
                    <div>
                        {{ notification.message }}
                    </div>
                    <div>
                        <a href="{{ url_for('notifications.view_notification', notification_id=notification.id) }}">
                            <strong>{{ notification.post.title }}</strong>
                        </a>
                        <p>{{ notification.comment.content }}</p>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if not notifications %}
      <p>没有未读通知。</p>
    {% endif %}

{% endblock %}
